@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-cyrillic-ext-300-normal.woff2?bdea52a97975fe3b5a913b4103780c1b)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-300-normal.woff?8efe08cdd612b2a381a0742575ac14ff)
      format("woff");
  unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f,
    u+fe2e-fe2f;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-cyrillic-300-normal.woff2?3a9e29b7769d363c785511d5915c2ce3)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-300-normal.woff?8efe08cdd612b2a381a0742575ac14ff)
      format("woff");
  unicode-range: u+0301, u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-vietnamese-300-normal.woff2?dfa31d492c43807b27c29c50bdc1688b)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-300-normal.woff?8efe08cdd612b2a381a0742575ac14ff)
      format("woff");
  unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1,
    u+01af-01b0, u+1ea0-1ef9, u+20ab;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-latin-ext-300-normal.woff2?efc4195dbb895ec1985c7be44326bd63)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-300-normal.woff?8efe08cdd612b2a381a0742575ac14ff)
      format("woff");
  unicode-range: u+0100-024f, u+0259, u+1e??, u+2020, u+20a0-20ab, u+20ad-20cf,
    u+2113, u+2c60-2c7f, u+a720-a7ff;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 300;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-latin-300-normal.woff2?b910844d7a322238ec945d43a31a7050)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-300-normal.woff?8efe08cdd612b2a381a0742575ac14ff)
      format("woff");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215,
    u+feff, u+fffd;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-cyrillic-ext-400-normal.woff2?f21ac09511c6fa4f94633549c5716665)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-400-normal.woff?0c07f750f73ac5437580c0d0dff431ec)
      format("woff");
  unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f,
    u+fe2e-fe2f;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-cyrillic-400-normal.woff2?166e8e87ae0b6f3deed301a84e1af103)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-400-normal.woff?0c07f750f73ac5437580c0d0dff431ec)
      format("woff");
  unicode-range: u+0301, u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-vietnamese-400-normal.woff2?6a8bc7acd205391fb71a9326938d6b63)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-400-normal.woff?0c07f750f73ac5437580c0d0dff431ec)
      format("woff");
  unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1,
    u+01af-01b0, u+1ea0-1ef9, u+20ab;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-latin-ext-400-normal.woff2?e8049e65c49ce687cff1bf71dfa6a5d0)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-400-normal.woff?0c07f750f73ac5437580c0d0dff431ec)
      format("woff");
  unicode-range: u+0100-024f, u+0259, u+1e??, u+2020, u+20a0-20ab, u+20ad-20cf,
    u+2113, u+2c60-2c7f, u+a720-a7ff;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-latin-400-normal.woff2?b8644b6e04ecda1cf98bbb37f17d0ef3)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-400-normal.woff?0c07f750f73ac5437580c0d0dff431ec)
      format("woff");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215,
    u+feff, u+fffd;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-cyrillic-ext-600-normal.woff2?a966a96b5f86c1790d611dc2a071f533)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-600-normal.woff?527eb32071d73ffd082967f0f2469086)
      format("woff");
  unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f,
    u+fe2e-fe2f;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-cyrillic-600-normal.woff2?0b4aff50b25779a95353f46ff29b75d7)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-600-normal.woff?527eb32071d73ffd082967f0f2469086)
      format("woff");
  unicode-range: u+0301, u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-vietnamese-600-normal.woff2?73867bf9b4b837f997c48e82ec28616a)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-600-normal.woff?527eb32071d73ffd082967f0f2469086)
      format("woff");
  unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1,
    u+01af-01b0, u+1ea0-1ef9, u+20ab;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-latin-ext-600-normal.woff2?9704ee910d46b3c17e69dce6da1b19a3)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-600-normal.woff?527eb32071d73ffd082967f0f2469086)
      format("woff");
  unicode-range: u+0100-024f, u+0259, u+1e??, u+2020, u+20a0-20ab, u+20ad-20cf,
    u+2113, u+2c60-2c7f, u+a720-a7ff;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 600;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-latin-600-normal.woff2?2b48b7fe12163661f95ab32aebeaed01)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-600-normal.woff?527eb32071d73ffd082967f0f2469086)
      format("woff");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215,
    u+feff, u+fffd;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-cyrillic-ext-700-normal.woff2?6f62b8277e1be35439a6f146e35525c3)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-700-normal.woff?91e2d8503d40ed436968c6536323be91)
      format("woff");
  unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f,
    u+fe2e-fe2f;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-cyrillic-700-normal.woff2?b36f165a6079a29ea02b692f4fd610b7)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-700-normal.woff?91e2d8503d40ed436968c6536323be91)
      format("woff");
  unicode-range: u+0301, u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-vietnamese-700-normal.woff2?8862ea6993677ed0a88f2f310121476b)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-700-normal.woff?91e2d8503d40ed436968c6536323be91)
      format("woff");
  unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1,
    u+01af-01b0, u+1ea0-1ef9, u+20ab;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-latin-ext-700-normal.woff2?4bcdf80378aecff12c8d67cfc4164cf6)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-700-normal.woff?91e2d8503d40ed436968c6536323be91)
      format("woff");
  unicode-range: u+0100-024f, u+0259, u+1e??, u+2020, u+20a0-20ab, u+20ad-20cf,
    u+2113, u+2c60-2c7f, u+a720-a7ff;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 700;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-latin-700-normal.woff2?adfd120897fcd366e78e43a700ca8bfc)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-700-normal.woff?91e2d8503d40ed436968c6536323be91)
      format("woff");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215,
    u+feff, u+fffd;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-cyrillic-ext-800-normal.woff2?7931b4451e85184334d5e5ad03c2e1b1)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-800-normal.woff?ddbd5c5e63da59bd0cd0d80ce92ddb5d)
      format("woff");
  unicode-range: u+0460-052f, u+1c80-1c88, u+20b4, u+2de0-2dff, u+a640-a69f,
    u+fe2e-fe2f;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-cyrillic-800-normal.woff2?702daf5528266e2302cb814e84fd3b44)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-800-normal.woff?ddbd5c5e63da59bd0cd0d80ce92ddb5d)
      format("woff");
  unicode-range: u+0301, u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-vietnamese-800-normal.woff2?1911355e3ea73b1cce95fe7de940eb72)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-800-normal.woff?ddbd5c5e63da59bd0cd0d80ce92ddb5d)
      format("woff");
  unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1,
    u+01af-01b0, u+1ea0-1ef9, u+20ab;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-latin-ext-800-normal.woff2?612cd00048b57f272c0046c7349e1c1b)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-800-normal.woff?ddbd5c5e63da59bd0cd0d80ce92ddb5d)
      format("woff");
  unicode-range: u+0100-024f, u+0259, u+1e??, u+2020, u+20a0-20ab, u+20ad-20cf,
    u+2113, u+2c60-2c7f, u+a720-a7ff;
}
@font-face {
  font-display: swap;
  font-family: Nunito;
  font-style: normal;
  font-weight: 800;
  src: url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-latin-800-normal.woff2?de4064435bf0f21e81104a7f39c75527)
      format("woff2"),
    url(../../../assets/fonts/vendor/@fontsource/nunito/files/nunito-all-800-normal.woff?ddbd5c5e63da59bd0cd0d80ce92ddb5d)
      format("woff");
  unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da,
    u+02dc, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215,
    u+feff, u+fffd;
}
